.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
#85F2A6; Light Green
#A7C7B1; Cambridge Blue // dollar greens
*/

/* Whole APP Start*/
body{
  
  background-color: #85F2A6;
  font-family: 'Kumbh Sans', sans-serif;
}
/* Whole APP End*/

/* Header Component Start*/
.header{
  font-size: 4rem;
  background-color: #A7C7B1;
  border-bottom: black 1px solid;
}

/* Header Component End*/

/* Main Component Start*/
.container{
  display: flex;
  justify-content:space-around;
  align-items:flex-start;

  margin-top: 2rem;
  
}

.money-and-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 34%;
}

/* Main Component End*/

/* Money Component Start*/
.money{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
  font-size: 2rem;
}
.money-amount{
}
/* Money Component End*/

/* Button Component Start*/

.button{
  margin:2rem;
}
/*
Button Sample
from
https://getcssscan.com/css-buttons-examples
example 6 by sketch
*/

.btnInvest {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btnInvest:hover,
.btnInvest:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btnInvest:hover {
  transform: translateY(-1px);
}

.btnInvest:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* Button Component End*/

/* Upgrades Component Start*/
.upgrades{
  width:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Upgrades Component End*/
/* Upgrade button start*/

.btnUpgrade {

  align-items: center;
  background-color: #5b8db9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size:20px;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
  line-height: 1.25;
  margin: 1rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 10rem;
}

.btnUpgrade:hover,
.btnUpgrade:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.btnUpgrade:hover {
  transform: translateY(-1px);
}

.btnUpgrade:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* Upgrade button end*/

/* Perks Component Start*/
.perks{
width:33%;
}
/* Perks Component End*/

/* Perks Btn Start*/


.btnPerk {

  align-items: center;
  background-color: #5b8db9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-size:16px;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
  line-height: 1.25;
  margin: 1rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 12rem;
}


/* Perks Btn End */